.description {
    line-height: 2;
}
.descriptionContainer.intro {
    min-height: 40vh;
    text-align: center;
}
.descriptionContainer.gym {
    display: flex;
    flex-direction: column;
    align-items: center;
}
video {
    width: 400px;
}
.videoTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.videoTextContainer .description {
    max-width: 50%;
}

@media (max-width: 796px) {
    .videoTextContainer {
        flex-direction: column;
    }
    .videoTextContainer .description {
        max-width: fit-content;
    }
}
