.description {
    line-height: 2;
}
video {
    width: 320px;
    height: 720px;
}
.transcript h2 {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
}

@media (max-width: 576px) {
    video {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 796px) {
    video {
        width: 100%;
        height: auto;
    }
}
