/*
    Watched some videos on html and css and wanted to try using 
    :root pseudo selector. Seemed more organized especially 
    when using colour palette. 
*/
:root {
    --container-color: #0C1821;
    --primary-color: #CCC9DC;
    --body-fonts: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --highlight-text: #70F8BA;
    --section-color: #816F68;
}
body {
    font-family: var(--body-fonts);
    background-color: var(--primary-color);
    color: var(--primary-color);
}

.navbarCustom {
    background-color: var(--container-color);
}
.navbarCustom .nav-link {
    color: var(--primary-color);
    border-radius: 5px;
}
.navbarCustom .nav-link.active {
    color: var(--highlight-text);
    text-decoration: underline;
}
.navbarCustom .nav-link:hover {
    background-color: white;
    transform: translateY(-2px);
}
.navbar-toggler {
    background-color: var(--primary-color);
}

.footerContainer {
    background-color: var(--container-color);
}

.container {
    background-color: var(--container-color);
}
.highlight {
    color: var(--highlight-text)
}
.descriptionContainer {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    margin: 1.5rem 0;
    min-height: 80vh;
}